@media only screen and (min-device-width : 360px) and (max-device-width : 640px){
    body, div {
        background-color: lightblue;
    }
    #container {
	display: inline;
	}
    #map {
	width: 80%;
	height: 20vh;
	margin-left: 10px;
	}
}


body {
	font-family: 'Ubuntu', sans-serif;
}

header {
	top: 0px;
	background-image: url('buildings.png');
	height: 150px;
	margin: 10px 10px 25px 10px;
}

footer {
	height: 10px;
	padding-right: 10px;
	padding-top: 3px;
}
footer a {
	text-decoration: none;
	color: black;
	font-size: 11px;
	float: right;
}

#header {
	font-size: 80px;
	margin: 0 auto;
	font-family: 'Lobster', cursive;
	text-align: center;
}

h1 {
	margin: 0px;
	padding: 30px 0px;
	text-shadow:
       3px 3px 0 white,
     -1px -1px 0 white,  
      1px -1px 0 white,
      -1px 1px 0 white,
       1px 1px 0 white;
}

#container {
	display: flex;
}
#map {
	width: 30%;
	height: 78vh;
	margin-left: 10px;
	
	z-index: 0;
}
#sub-container {
	width: 70%;
	background-image:
	background-position: center bottom;
  	background-repeat: no-repeat;
}

#tabs {
	display: flex;
	padding-bottom: 0px;
	justify-content: center;
	width: 100%;
}

#tabs button.active {
	border-bottom: transparent;
	color: orange;
}

#multipleLoc, #singleLoc, #reverseGeoLoc, #multipleReverse {
	padding: 10px 20px 5px 20px;
	border: 1px solid #C0C0C0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: 0px;
	transition: 0.3s;
	font-family: inherit;
	font-size: 1.7em;
	font-weight: bold;
	background-color: inherit;
	outline: none;
}


#multipleLoc:hover, #singleLoc:hover, #reverseGeoLoc:hover, #multipleReverse:hover {
	cursor: pointer;
	color: orange;
}

#multipleLoc.active #singleLoc.active, #reverseGeoLoc.active, #multipleReverse.active {
	border-bottom: transparent;
}

#help {
	float: right;
	margin-left: 20px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 32px;
	color: darkblue;
	transition: 0.3s;
	outline: none;
}

#help:hover {
	color: darkorange;
}

#loadOptions, #loadOptionsRev {
	margin: 40px 200px;
	display: flex;
  	justify-content: space-around;
  	width: 60%;
}

#mapIt {
	margin-left: 20px;
}

p {
	margin: 4px;
}



#table, #tableRev {
	table-layout:fixed;
	width: 100%;
}

/*Multiple Location Table style*/

table.blueTable {
  border: 2px solid #D8D8D8;
  background-color: #F4F4F4;
  width: 100%;
  text-align: left;
}
table.blueTable td, table.blueTable th {
  border: 0px solid #AAAAAA;
  padding: 5px 5px;
}
table.blueTable tbody td {
  font-size: 12px;
}
table.blueTable tr:nth-child(even) {
  background: #FFFFFF;
}
table.blueTable thead {
  background: #EAEAEA;
  background: -moz-linear-gradient(top, #efefef 0%, #ececec 66%, #EAEAEA 100%);
  background: -webkit-linear-gradient(top, #efefef 0%, #ececec 66%, #EAEAEA 100%);
  background: linear-gradient(to bottom, #efefef 0%, #ececec 66%, #EAEAEA 100%);
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  border-left: 2px solid #DDDDDD;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #EAEAEA;
  background: -moz-linear-gradient(top, #efefef 0%, #ececec 66%, #EAEAEA 100%);
  background: -webkit-linear-gradient(top, #efefef 0%, #ececec 66%, #EAEAEA 100%);
  background: linear-gradient(to bottom, #efefef 0%, #ececec 66%, #EAEAEA 100%);
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot {
	text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #A4A4A4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

/*Single location style*/
.form-style-7{
	max-width:600px;
	margin:45px auto;
	background:#fff;
	border-radius:2px;
	padding:20px;
	font-family: 'Ubuntu', sans-serif;
}
.form-style-7 h1{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size:x-large;
}
.form-style-7 ul{
	list-style:none;
	padding:0;
	margin:0;
	width: 600px;	
}
.form-style-7 li{
	list-style: none;
	padding: 9px;
	border:1px solid #DDDDDD;
	margin-bottom: 25px;
	border-radius: 3px;
}
.form-style-7 li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}
.form-style-7 li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: #B9B9B9;
	font-size: 14px;
	overflow: hidden;
	font-family: 'Ubuntu', sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.form-style-7 input[type="text"]:focus,
.form-style-7 select:focus 
{
}
.form-style-7 li > span{
	background: #EAEAEA;
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.form-style-7 textarea{
	resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
	background: #2471FF;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #5994FF;
	border-radius: 3px;
	color: #D2E2FF;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
	background: #6B9FFF;
	color:#fff;
}

/*map button*/

.mapbutton{
	color: orange;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	border: none;
	font-size: 16px;
	background-color: transparent;
	padding: 5px;
}

#submitSingle, #getIt {
	font-size: 20px;
	padding: 10px;
	border-color: #BFD8C3;
	outline: none;
	cursor: pointer;
	font-family: Ubuntu;
	transition: 0.5s;
	margin: 0px auto;
	background-color: #FFE2D4;
	border-radius: 5px;
	}

.formButtons {
	display: flex;
}

#submitSingle:hover, #submit:hover, #getIt:hover, #export:hover, #mapIt:hover, #submitRev:hover, #exportRev:hover, #mapItRev:hover, #copyForm:hover, #copyFormRev:hover {
	background-color: orange;
}

#submit, #export, #mapIt, #submitRev, #exportRev, #mapItRev {
	font-family: Ubuntu;
	transition: 0.5s;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
	background-color: #FFE2D4;
}

input {
	background-color: transparent;
	border: none;
	font-family: 'Ubuntu', sans-serif;
	cursor: text;
}

input:hover {
	background-color: #F9F9F9;
}

#resetMap {
	float: right;
	margin-left: 20px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 32px;
	color: darkblue;
	transition: 0.3s;
	outline: none;
}

#resetMap:hover {
	color: orange;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow: auto;
  height: 75vh;
  border-radius: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track { 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgrey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgrey; 
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 10px 8px;
  background-color: orange;
  color: black;
}

.modal-body {
	padding: 10px 16px;
}

.modal-footer {
  padding: 2px 10px;
  color: orange;
}
